<div class="home-container">
    <h1>Bem-vindo à Página Inicial</h1>

     <!-- Exibe a mensagem de sucesso -->
     <div *ngIf="usuarioValido" id="success-message">
      <p class="success"> Login efetuado com sucesso </p>
  </div>
  <div *ngIf="usuarios; else noUser">
    <h2>Usuários Cadastrados:</h2>
      <div *ngFor="let usuario of usuarios">
      <p><strong>Nome:</strong> {{ usuario.nome}}</p>
      <p><strong>Email:</strong> {{ usuario.email }}</p>
      <button (click)="editarUsuario(usuario)">Editar</button>
      <button (click)="deletarUsuario(usuario.email)">Deletar</button>
      <hr/>
    </div>
  </div>
  
    <ng-template #noUser>
      <p>Nenhum usuário cadastrado.</p>
    </ng-template>
  
    <a routerLink="/cadastro">Ir para Cadastro</a>
  </div>

  